//custom input
.el-input {
    height: 40px;
    .el-input__wrapper {
        .el-input__inner::placeholder {
            color: var(--gray-50);
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

//custom table
.el-table {
    .el-table__header-wrapper {
        .el-table__header {
            .el-table__cell {
                padding: 0;
                .cell {
                    color: var(--gray-50);
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    text-transform: uppercase;
                    padding: 0;
                    margin-bottom: 7px;
                }
                &:last-child {
                    .cell {
                        text-align: end;
                    }
                }
            }
        }
    }
    .el-table__body-wrapper {
        .el-scrollbar {
            .el-table__row {
                .el-table__cell {
                    .cell {
                        padding: 0;
                        margin-right: 30px;
                    }
                    &:last-child {
                        .cell {
                            margin-right: 0px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//custom dropdown
.el-popper {
    .el-popper__arrow {
        visibility: hidden;
    }
    .el-dropdown-menu {
        padding: 5px;
        .el-dropdown-menu__item {
            padding: 8px 10px;
        }
    }
}

//radio group
.el-radio-group {
    .el-radio-button__inner {
        font-weight: 600;
        line-height: 18px;
    }
}
