@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@import './elementui';

:root {
    --gray-0: #f9f9fb;
    --gray-10: #eaeaef;
    --gray-25: #dedeeb;
    --gray-50: #9097ac;
    --gray-75: #6b7080;
    --gray-100: #293142;
    --green-100: #14c8b1;
    --red-100: #eb5757;
    --blue-75: #5294ff;
    --dark-100: #222a3c;
    --white-100: #ffffff;

    --black: #222;
    --gray: #222222a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    overflow-y: scroll;
}

button {
    border: none;
    background-color: transparent;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
